/*  Kanit fonts  */
@font-face{
    font-family:Kanit-Thin;
    src: url(./fonts/Kanit-Thin.ttf);
}

@font-face{
    font-family: Kanit-Thin-Italic;
    src: url(./fonts/Kanit-ThinItalic.ttf);
}

@font-face{
    font-family: Kanit-Light;
    src: url(./fonts/Kanit-Light.ttf);
}
@font-face{
    font-family: Kanit-Light-Italic;
    src: url(./fonts/Kanit-LightItalic.ttf);
}
@font-face{
    font-family:Kanit-Regular;
    src: url(./fonts/Kanit-Regular.ttf);
}

@font-face{
    font-family: Kanit-Medium;
    src: url(./fonts/Kanit-Medium.ttf);
}

@font-face{
    font-family: Kanit-Medium-Italic;
    src: url(./fonts/Kanit-MediumItalic.ttf);
}
@font-face{
    font-family: Kanit-Bold;
    src: url(./fonts/Kanit-Bold.ttf);
}
@font-face{
    font-family: Kanit-Bold-Italic;
    src: url(./fonts/Kanit-BoldItalic.ttf);
}
@font-face{
    font-family: Kanit-Extra-Light;
    src: url(./fonts/Kanit-ExtraLight.ttf);
}
@font-face{
    font-family: Kanit-Extra-Light-Italic;
    src: url(./fonts/Kanit-ExtraLightItalic.ttf);
}
@font-face{
    font-family: Kanit-Extra-Bold;
    src: url(./fonts/Kanit-ExtraBold.ttf);
}
@font-face{
    font-family: Kanit-Extra-Bold-Italic;
    src: url(./fonts/Kanit-ExtraBoldItalic.ttf);
}
@font-face{
    font-family: Kanit-Black;
    src: url(./fonts/Kanit-Black.ttf);
}
@font-face{
    font-family: Kanit-Black-Italic;
    src: url(./fonts/Kanit-BlackItalic.ttf);
}
@font-face{
    font-family: Kanit-Semi-Bold;
    src: url(./fonts/Kanit-SemiBold.ttf);
}
@font-face{
    font-family: Kanit-Semi-Bold-Italic;
    src: url(./fonts/Kanit-SemiBoldItalic.ttf);
}

/*  root varibale */

:root{
    -main-blue: #4831D4;
    -main-lime-green: #CCF381;
    -teal:#317773;
    -leveder:#E2D1F9;
    -baby-blue:#8AAAE5;
    -white:#ffff;
    -dark:#000;
    -red:red;
}

.flex{
    display:flex;
}
.in-flex{
    display: inline-flex;
}
.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}
.justify-content-space-between{
    justify-content: space-between;
}
.flex-direction-column{
    flex-direction: column;
}
.text-align-center{
    text-align: center;
}
.justify-content-space-around{
    justify-content: space-around;
}


a{
    text-decoration: none;
}
img{
    cursor:pointer;
}


/*  --------------Media Quries ------------------ */

@media (max-width : 900px){
    .rightSide img{
        display: none;
        margin-right: 0;
    }
    .rightSide > #jackimg{
        display: block;
    }
    nav > .leftSide > #logo{
        width: 50px;
    }
    #mic-icon{
        display: none;

    }
    nav > .midSide > .search-box > #search-input{
    width: 100px;

   }
    .sidebar , #menu-icon{
        display: none;
        width: 30px;
    }
    .main , .large-main{
        padding-left: 5%;
        padding-right: 5%;
    }

    .play-video{
        flex-basis: 100%;
    }
    .right-sidebar{
        flex-basis: 100%;
    }
    .play-container{
   padding-left: 5%;
    }
    .descripition{
        padding-left: 0;
    }
    play-video .play-video-info .video-content  a {
        margin-left: 0;
        margin-top: 15px;
        margin-right: 15px;
    }
}

